$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

#gallery {
  padding: 0;
  margin: 0;

  li {
    display:inline-block;
    width: 250px;
    margin: 0 20px 20px 0;
    position: relative;

    span {
      position: absolute;
      top: 10px;
      font-size: 30px;
      color: #fff;
      opacity: 0.2;
      cursor: pointer;

      &.glyphicon-plus-sign {
        left: 10px;

        &:hover {
          opacity: 1;
        }
      }

      &.glyphicon-minus-sign {
        right: 10px;

        &:hover {
          opacity: 1;
        }
      }
    }

    &:hover {
      div {
        position: absolute;
        border: 4px solid gold;
        width: 100%;
        height: 100%;
        top: 0
      }
    }
  }
}

.allimages {
  .glyphicon-minus-sign, #deleteCollectionLink {
    display: none
  }
}

.col-md-2 {
  margin-top: 20px;
}

.galleryimg {
  width: 100%;
}

#modalimage, #addmodalIamge {
  margin-bottom: 20px;
  img {
    width: 100%;
  }
}

#allLink, #deleteCollectionLink {
  color: #337ab7;

  &:hover {
    color: #23527c;
    text-decoration: underline;
    cursor: pointer;
  }
}
