$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

#gallery {
  li {
    display:inline-block;
    width: 250px;
    margin: 0 20px 20px 0;
    position: relative;

    span {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 30px;
      color: #fff;
      opacity: 0.4;
    }

    &:hover {
      span {
        opacity: 1;
      }
    }
  }
}

.galleryimg {
  width: 100%;
}
